header {
    background-color: #002A48;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}     

header a {
    font-family: 'Roboto Condensed', sans-serif, Helvetica, Arial;
    color:aliceblue;
    font-size: 22px;
    padding: 30px;
}
 .topmenu {
    display: flex;
    margin: 30px;
    
 }

.topmenu a {
    font-family: 'Roboto Condensed', sans-serif, Helvetica, Arial;
    color:aliceblue;
    font-size: 22px;
    text-decoration:none;
    padding: 30px;
   
}
.about{
    display:flex;
    text-align: center;
    flex-direction: column;
}
h2 {
    color: black;
    font-size: 5em;
    font-family: 'Roboto Condensed', sans-serif, Helvetica, Arial;
    margin-top: 20px;
}

h3 {
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif, Helvetica, Arial;
    margin-top: 20px;
    margin-bottom: 40px;
}

p {
    font-family: 'Roboto Condensed', sans-serif, Helvetica, Arial;
    margin-left: 20%;
    margin-right: 20%;
}

.contact {
    margin-top: 20px;
    display:flex;
    text-align: center;
    flex-direction: column;
}

.contact a {
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif, Helvetica, Arial;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
}